.cards-wrapper {
  width: calc(100vw - 4rem);
  height: $card-height;
  overflow: hidden;
  margin: 0 2rem;
  border-radius: 10px;
  
  .card {
    height: $card-height;
    width: $card-width;
    position: absolute;
    background-size: 100%;

    @for $i from 1 through $card-linenumber {
      &.hearts-#{$i} {
        background-image: url('../assets/cards/hearts-'+$i+'.svg');
      }
      &.diamonds-#{$i} {
        background-image: url('../assets/cards/diamonds-'+$i+'.svg');
      }
      &.clubs-#{$i} {
        background-image: url('../assets/cards/clubs-'+$i+'.svg');
      }
      &.spades-#{$i} {
        background-image: url('../assets/cards/spades-'+$i+'.svg');
      }
    }

    &:hover {
      z-index: 50;
    }
  }

  &.hidden {
    .card {
      background: rgb(0,212,255);
      background: radial-gradient(circle, #00d4ff 0%, #090979 65%, #020024 97%);
      border: 1px solid;
      border-radius: 10px;
    }
  }
}

